
.projects{
    min-height: 100vh;
    background-color: #007AA3;
    padding:100px 0px;
    color: #f5f5f5;
    h2{
        color:#f5f5f5;
    }
    p{
        font-size: 1.1em;
        width:80%;
        line-height: 1.8;
    }
    a{
        text-decoration: underline;
        transition: .3s ease;
        &:hover{
            color:#f5f5f5;
        }
    }
}

