.link{
    list-style: none;
    padding:0px 20px;
    a{
        color:#f3f3f3;
        text-decoration: none;
        transition: .5s ease;
        
        &:hover{
            color:#003459;
      
        }
     
    }
    
}
