$breakpoint-desktop-1536: 1536px;
$breakpoint-desktop-1440: 1440px;
$breakpoint-desktop-1366: 1366px;
$breakpoint-desktop-1280: 1280px;
$breakpoint-tablet-xl: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-fablet: 540px;
$breakpoint-phone-414:414px;
$breakpoint-phone-375:375px;
$breakpoint-phone-360:360px;
$breakpoint-phone-320:320px;