@import "../../assets/variables/variables.scss";
.contact {
  min-height: 90vh;
  background-color: #f5f5f5;
  position: relative;
  
  .contact--info {
    color: #f5f5f5;
    background-color: #007AA3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding:150px 0px;
    border-radius: 10px;
    h2 {
      margin-top: 0px;
      text-align: center;
    }
    p {
      text-align: center;
      width: 75%;
      margin: 0px auto;
      line-height: 1.8;
    }
    .contact--info__button {
      display: flex;
      padding-top: 30px;

      display: flex;
      flex-direction: column;
      text-align: center;

      a {
        color: #f5f5f5;
        transition: 0.5s ease;
        &:hover {
          .line {
            width: 100px;
          }
          color: #003459;
        }
        .line {
          height: 2px;
          width: 30px;
          background: #003459;
          margin: 0px auto;
          margin-top: 10px;
          transition: 0.4s ease;
        }
      }
    }
  }
}

@media screen and(max-width:$breakpoint-fablet) {
  .contact{
    .contact--info {
      padding: 75px 0px;
      width: 85%;
    }
  }
}

@media screen and(max-width:$breakpoint-phone-414) {
  .contact{
    .contact--info {
      padding: 50px 0px;
      width: 85%;
      h2{
        font-size: 1.6em;
      }
      p{
        width: 90%;
        text-align: center;
      }
    }
  }
}
@media screen and(max-width:$breakpoint-phone-375) {
  .contact{
    .contact--info {
      
      p{
        width: 95%;
      }
    }
  }
}
@media screen and(max-width:$breakpoint-phone-360) {
  .contact{
    .contact--info {
      width: 90%;
    }
  }
}
@media screen and(max-width:$breakpoint-phone-320) {
  .contact{
    .contact--info {
      background-color: transparent;
      color:#00171f;
      .contact--info__button{
        a{
          color:#00171f;
          &:hover{
            color: #007AA3;
          }
        }
      }
     
    }
  }
}