.link,p{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6,a,ul{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 70%;
    margin:0px auto;
}
h1{
    font-size: 3em;
}
h2{
    margin-top:0px;
    font-size:2.6em;
}
h3{
    font-size: 1.4em;
}
p{
    letter-spacing: .5px;
    font-size:1.05em;
}

.darkMode{
    
    .header,.nav,.projects{
        background-color: #121212;
    }
    .contact{
        .wrapper{
            .contact--info{
                background-color: #121212;
            }
        }
    }
    .about,.contact,.footer{
        background-color: #181818;
        color:#f5f5f5;
    }
    .projects{
        .wrapper{
            .project{
                &:hover{
                    background-color: rgba($color: #255, $alpha: 0.2);
                }
            }
        }
    }
    .socials{
        a{
            i{
                color:#f5f5f5;
            }
        }
       
      
    }
}

